@import "tailwindcss";

:root {
  --background: #131313;
  --font: rgb(240, 240, 240);
  --positive: #5FDE72;
  --negative: #EE5353;
  --progress: #9C9999;
  --info: #737373;
  --buttonText: #171717;
  --border: #232323;
}

body {
  background: var(--background);
  color: var(--font);
  font-family: var(--font-inter);
}
